@import "functions";
@import "variables";

.main-btn {
  display: block;
  text-decoration: none;
  padding: rem-calc(10px);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  border: none;
  text-transform: uppercase;
  transition: color .3s ease, background-color .3s ease;
  margin: auto;

  &.btn-radius {
    min-width: 110px;
    border-radius: 40px;
    padding: rem-calc(5px);
  }
}

.btn-primary {
  background-color: $color-blue-dark;
  color: #fff;
}

.btn-blue {
  background-color: $color-blue;
  color: #fff;
}

.btn-gold {
  background-color: $color-gold;
  color: #fff;
}

.main-payment-btn {
  display: block;
}