@import "functions";
@import "variables";

.main-btn {
  display: block;
  text-decoration: none;
  padding: rem-calc(10px);
  border-radius: $border-radius;
  border: 2px solid transparent;
  text-transform: uppercase;
  transition: color .3s ease, background-color .3s ease;
  margin: auto;
}

.btn-primary {
  border: 2px solid $color-gold;
  background-color: $color-gold;
  color: #fff;
}

.btn-blue {
  border: 2px solid $color-blue;
  background-color: $color-blue;
  color: #fff;
}