.main-calendar-months {
  width: 30%;
  height: 100px;
  margin: 1%;
  background-color: #fff;
  display: inline-block;
}

.main-calendar-days {
  width: 20%;
  margin: 1%;
  height: 80px;
  background-color: #fff;
  display: inline-block;
}