@import "variables";
@import "functions";

.main-section-calendar {
  color: $calendar-color;
  font-size: rem-calc(14px);
  padding-top: rem-calc(10px);
}

.main-calendar-months,
.main-calendar-days {
  position: relative;
  margin: 1%;
  background-color: #fff;
  display: inline-block;
  border-top: 4px solid transparent;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: rem-calc(10px);
    color: $calendar-color;
  }

  span {
    float: left;
  }

  &:hover {
    border-top: 4px solid $color-pink;
  }
}

.main-calendar-months {
  width: 30%;
  height: 100px;
}

.main-calendar-month-reservation,
.main-calendar-day-reservation {
  width: 10px;
  height: 10px;
  background-color: $color-pink;
  display: block;
  border-radius: 10px;
  margin: 4px 2px;
}

.main-calendar-days {
  width: 20%;
  margin: 1%;
  height: 80px;
}

.main-calendar-day {
  overflow: hidden;
  max-width: 700px;
  margin: auto;
  box-shadow: $box-shadow;
}

.main-calendar-day-hours,
.main-calendar-day-slots {
  float: left;
  border-top: 1px solid $color-grey;
}

.main-calendar-day-hours {
  width: 10%;
  text-align: center;
  background-color: #fff;
}

.main-calendar-day-slots {
  width: 90%;
  background-color: #fff;
}

.main-calendar-day-hour,
.main-calendar-day-slot {
  position: relative;
  height: 50px;
  border: 1px solid $color-grey;
  border-top: none;
}

.main-calendar-day-hour {
  border-right: none;
}

.main-calendar-day-slot-hour {
  position: relative;
  width: 100%;
  height: 50%;
  float: left;
  color: #fff;

  &:first-child {
    border-bottom: 1px dashed $color-grey;
  }

  i {
    display: none;
    position: relative;
    padding: rem-calc(10px);
    text-align: center;
    font-size: rem-calc(20px);
    z-index: 1;
  }

  &:hover,
  &.is-active {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 180%;
      background-color: $color-pink;
      opacity: .7;
    }

    i {
      display: block;
    }

    .main-calendar-day-slot-hour-booking-class {
      display: block;
    }
  }
}

.main-calendar-day-slot-hour-booking-class {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: rem-calc(15px);
  z-index: 1;
}

.main-calendar-day-slot-hour-reservation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-pink;
  text-align: center;
  padding: rem-calc(15px);
  color: #fff;

  &.half-hour {
    top: 50%;
  }
}