@import "variables";
@import "functions";

.card-wrapper {
  font-family: $fontRoboto;
  display: block;
  position: relative;
  box-shadow: $box-shadow;
  padding: rem-calc(50px) rem-calc(10px) rem-calc(10px) rem-calc(10px);
  margin-top: rem-calc(60px);
  text-decoration: none;
  background-color: #fafafa;
  color: #000;
  border-radius: $border-radius;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: $color-purple;
  }
}

.card-header,
.card-content {
  position: relative;
  text-align: center;
}

.card-header-img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: $box-shadow;
  transition: opacity .5s ease .5s;

  img {
    width: 100%;
  }
}

.main-section-teachers {

  .card-wrapper {
    height: 300px;
    max-height: 300px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70px;
      @include linear-gradient-top3(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), 0%, rgba(255, 255, 255, 0.9), 30%, rgba(255, 255, 255, 1), 70%, rgba(255, 255, 255, 1), 100%);
    }
  }

  .card-header {
    display: none;
  }

  .card-content {
    height: 100%;
    overflow: hidden;
  }
}

.main-section-user-profile {

  .card-header {
    display: none;
  }
}

@media #{$medium-and-up} {
  .main-section-user-profile {
    .card-wrapper {

      &:before {
        height: 104px;
      }
    }

    .card-header-img {
      top: 2px;
      left: 2px;
      margin: 0;
      border-radius: 0;
    }

    .card-header {
      display: block;
    }

    .card-content {
      text-align: left;
    }
  }
}