@import "variables";
@import "functions";

.main-chat {
  width: 100%;
  max-width: 768px;
  height: 400px;
  color: #fff;
  margin: auto;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: $chat-color-black;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);

  .green {
    color: $chat-color-green;
  }
}

.main-chat-header {
  padding: rem-calc(15px);
}

.main-chat-header-bar {
  float: right;

  span {
    margin-left: rem-calc(10px);
    cursor: pointer;
  }
}

.main-chat-user-description,
.main-chat-messages-container {
  position: relative;
  width: 100%;
  float: left;
  padding: rem-calc(15px);
}

.main-chat-user-description {
  text-align: center;
}

.main-chat-messages-container {
  background-color: #fff;
  color: $color-dark-grey;
}

.main-chat-text-input-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: $color-grey;
}

.main-chat-text-input {
  border-radius: 5px;
}

@media #{$medium-and-up} {
  .main-chat-user-description {
    width: 30%;
  }

  .main-chat-messages-container {
    width: 70%;
    height: 350px;
  }

  .main-chat-messages-list {
    overflow-y: scroll;
    height: 70%;
    margin: 0;
    padding: 0;
  }
}