@import "variables";

/*all*/

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: $fontSourceSansPro;
}

body {
  background-color: $color-grey;
  font-family: $fontSourceSansPro;
}

/*fonts*/

.fw-100 {
  font-weight: 100;
}

.fw-700 {
  font-weight: 700;
}

/*list*/

li {
  position: relative;
  list-style-type: none;
}

/*links*/

a {
  text-decoration: none;
}

/*positions*/

.sticky {
  position: fixed;

  &.pos-top {
    top: 0;
  }

  &.pos-left {
    left: 0;
  }
}

/*colors*/

.color-white {
  color: #fff;
}

.color-blue {
  color: $color-blue;
}

.color-purple {
  color: $color-purple;
}

/*backgrounds*/

.bg-gold {
  background-color: $color-gold;
}

.bg-white {
  background-color: #fff;
}
