@import "variables";
@import "prefixer";
@import "fontAwesome/variables";
@import "fontAwesome/path";
@import "fontAwesome/core";
@import "fontAwesome/icons";

/*all*/

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: $fontSourceSansPro;
}

body {
  background-color: #fff;
  font-family: $fontSourceSansPro;
}

section {
  position: relative;
  margin: 20px 0;
}

/*fonts*/

.fw-100 {
  font-weight: 100;
}

.fw-700 {
  font-weight: 700;
}

/*text*/

.txt-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.txt-center {
  text-align: center;
}

/*list*/

li {
  position: relative;
  list-style-type: none;
}

/*links*/

a {
  text-decoration: none;
}

/*positions*/

.sticky {
  position: fixed;

  &.pos-top {
    top: 0;
  }

  &.pos-left {
    left: 0;
  }
}

/*colors*/

.color-white {
  color: #fff;
}

.color-blue {
  color: $color-blue;
}

.color-purple {
  color: $color-purple;
}

.color-gold {
  color: $color-gold;
}

/*backgrounds*/

.bg-gold {
  background-color: $color-gold;
}

.bg-white {
  background-color: #fff;
}

/*loaders*/

.main-loader {
  overflow: hidden;

  i {
    display: block;
    padding: 50px;
    text-align: center;
    color: $color-blue;
    @include animation(spin 1s linear infinite);
  }
}

.main-loader-inline-item-1 {
  @include animation(spin-inline 2s linear infinite);
}

.main-loader-inline-item-2 {
  @include animation(spin-inline 2s linear .2s infinite);
}

.main-loader-inline-item-3 {
  @include animation(spin-inline 2s linear .4s infinite);
}

@include keyframes(spin-inline) {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@include keyframes(spin) {
  100% {
    transform: rotate(360deg);
  }
}