@import "functions";
@import "variables";

.main-header {
  position: relative;
  z-index: 10;
}

.main-logo {
  display: inline;
  color: #fff;
}

.main-nav {
  padding: rem-calc(15) rem-calc(20px);
  background-color: $color-blue-dark;
  font-size: rem-calc(16px);
  width: 100%;
  height: 70px;
  box-shadow: $box-shadow;

  &.is-open {

    .main-nav-list {
      left: 0;
    }

    .main-nav-icon-area {
      display: block;
    }
  }
}

.main-nav-list {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
  transition: left .3s ease;

  &.pos-left {
    left: -100%;
  }
}

.main-nav-list-item {
  display: inline-block;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid $color-grey;

  > a {
    display: block;
    padding: rem-calc(28px);
    text-decoration: none;
    text-transform: capitalize;
    border: 2px solid transparent;
    border-radius: $border-radius;
    color: #000;

    &:hover {
      color: $color-gold;
    }
  }

  .fa {
    margin: 0 rem-calc(10px);
  }
}

.main-nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  padding: 20px;
}

.main-nav-icon-line {
  width: 30px;
  margin: 5px auto;
  height: 5px;
  border-radius: $border-radius;
  background-color: #fff;
}

.main-nav-icon-area {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media #{$medium-and-up} {
  .main-nav-icon {
    display: none;
  }

  .main-nav {
    font-size: rem-calc(14px);
  }

  .main-nav-list {
    position: relative;
    background-color: transparent;
    width: auto;
    height: auto;
    float: right;

    &.pos-left {
      left: 0;
    }
  }

  .main-nav-list-item {
    width: auto;
    border-bottom: none;
    cursor: pointer;
    margin: 0 rem-calc(5px);

    > a {
      transition: background-color .3s ease, color .3s ease, border .3s ease;
      padding: rem-calc(5px);
      color: #fff;

      &:hover,
      &.is-active {
        border-bottom: 2px solid rgba(0, 0, 0, .3);
        color: #fff;
      }
    }
  }

  .main-nav-messages {
    padding-bottom: rem-calc(20px);

    &:hover {
      .main-tooltip {
        display: block;
      }
    }
  }
}