@import "variables";
@import "functions";

.main-massenger {
  width: 100%;
  min-height: 400px;
  color: $massenger-color-grey-dark;
  overflow: hidden;
  background-color: $massenger-color-grey;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);

  ul {
    margin: 0;
    padding: 0;
  }
}

.main-massenger-header {
  text-align: center;
  padding: rem-calc(15px);
}

.main-massenger-message-thread-list-wrapper {
  float: left;
  width: 30%;
}

.main-massenger-message-thread-list-item {
  display: block;
  padding: rem-calc(10px);
  text-align: center;
  color: $massenger-color-grey-dark;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: $massenger-color-grey-dark;
  }
}

.main-massenger-messages-wrapper {
  float: left;
  width: 70%;
  background-color: #fff;
}

.main-massenger-messages-list-item {
  margin: rem-calc(10px);
  overflow: hidden;

  span {
    padding: rem-calc(5px);
    border-radius: 20px;
    float: right;
    background-color: $color-blue;
    color: #fff;
  }

  &.email-to span {
    float: left;
    background-color: $massenger-color-grey;
    color: #000;
  }
}

.main-massenger-text-input-wrapper {
  background-color: $massenger-color-grey;
  overflow: hidden;
}

.main-massenger-text-input {
  float: left;
}