@import "variables";
@import "functions";

.main-section-messages {
  padding: 0;
}

.main-messenger {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 480px;
  color: $messenger-color-grey-dark;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  margin: auto;

  ul {
    margin: 0;
    height: 100%;
    overflow-y: scroll;
  }

  .main-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.main-messenger-header {
  text-align: center;
  padding: rem-calc(15px);
}

.main-messenger-message-thread-list-wrapper,
.main-messenger-messages-wrapper {
  position: absolute;
  top: 50px;
  height: 430px;
}

.main-messenger-message-thread-list-wrapper {
  width: 30%;
  border-right: 1px solid $messenger-color-grey;
  border-top: 1px solid #fff;
}

.main-messenger-messages-wrapper {
  left: 30%;
  width: 70%;
  background-color: #fff;
}

.main-messenger-messages-list {
  padding: 10px 10px 50px;
}

.main-messenger-messages-list-item {
  margin: rem-calc(10px);
  overflow: hidden;

  span {
    padding: rem-calc(5px);
    border-radius: $border-radius;
    float: right;
    background-color: $color-blue-dark;
    color: #fff;
  }

  &.email-to span {
    float: left;
    background-color: $messenger-color-grey;
    color: #000;
  }
}

.main-messenger-text-input-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid $messenger-color-grey;
}

.main-messenger-text-input {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  border: none;
  width: 80%;
  resize: none;
  outline: none;
  padding: rem-calc(15px);
  color: $color-blue-dark;
}

.main-messenger-button-submit {
  color: $color-blue-dark;
  width: 20%;
  height: 50px;
  float: right;
  text-align: center;
  cursor: pointer;

  i {
    display: block;
    line-height: 50px;
    margin: auto;
  }
}