@import "prefixer";
@import "variables";
@import "functions";

.main-modal-window {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 11;

  &.is-active {
    display: block;

    .main-modal-window-content {
      @include transform(translate(-50%,-50%));
    }
  }
}

.main-modal-window-content {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 320px;
  width: 80%;
  max-width: 600px;
  border-radius: $border-radius;
  @include transform(translate(-10000px,-50%));
  background-color: $color-grey;
  padding: rem-calc(10px);
  transition: transform .5s ease;
  z-index: 1;
}

.main-modal-window-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}