@import "prefixer";
@import "functions";

.main-modal-window {
  position: fixed;
  left: 50%;
  top: 50%;
  @include transform(translate(-10000px,-50%));
  background-color: #fff;
  padding: rem-calc(10px);
  transition: transform .5s ease;
  z-index: 11;

  &.is-active {
    @include transform(translate(-50%,-50%));
  }
}