@import "variables";

.main-tooltip {
  display: none;
  position: absolute;
  width: 200px;
  background-color: #fff;
  margin-top: 7px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  &.active {
    display: block;
  }

  &:after {
    position: absolute;
    top: -7px;
    left: 15%;
    content: '';
    border-color: #fff rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 7px 7px;
    display: block;
    z-index: 1;
  }
}