@import "prefixer";
// fonts
$fontSourceSansPro: 'Source Sans Pro', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// Grid Variables
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

//colors
$color-yellow: #ffee9c;
$color-gold: #f79f00;
$color-grey: #e8e8e8;
$color-dark-grey: #bbb;
$color-blue: #65c3df;
$color-purple: #83639c;
$color-red: #e57e6f;
$color-red-dark: #e04832;
$color-green: #1bbc9c;


//border
$border-radius: 2px;
$box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

//form
$input-bg-color: #fff;
$input-color: $color-blue;
$label-color: #696969;

//card
$cardsUserSkillsBackground: #f26377;

//messenger
$messenger-color-grey: #f5f5f5;
$messenger-color-grey-dark: #9ea7b3;

//font awesome
@import "fontAwesome/variables";
@import "fontAwesome/path";
@import "fontAwesome/core";
@import "fontAwesome/icons";