<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Individual IT Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,900italic" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900italic' rel='stylesheet' type='text/css'/>
    <link type="text/css" href="assets/css/main.min.css" rel="stylesheet"/>
</head>
<body>
    <header class="main-header">
        <nav class="main-nav sticky pos-top pos-left">
            <h1 class="main-logo">inITLearn</h1>
            <div class="main-nav-icon js-main-nav-menu-open">
                <div class="main-nav-icon-line line-1"></div>
                <div class="main-nav-icon-line line-2"></div>
                <div class="main-nav-icon-line line-3"></div>
                <div class="main-nav-icon-area sticky pos-left pos-top"></div>
            </div>
            <ul class="main-nav-list sticky pos-top pos-left">
                <li class="main-nav-list-item"><a href="#teachers">teachers</a></li>
                <li class="main-nav-list-item"><a href="#pricing">pricing</a></li>
                <li class="main-nav-list-item main-create-account"><a href="#create-account-form" class="is-active">create free account</a></li>
                <li class="main-nav-list-item main-sign-in"><a href="#sign-in-form">sign in</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-container container">
        <section id="about-us" class="main-section">
            <iframe class="main-video" width="100%" height="560px" src="https://www.youtube.com/embed/cSTEB8cdQwo" frameborder="0" allowfullscreen="true"></iframe>
            <div class="overlay-content">
                <h2 class="section-header bg-gold color-white">We are learning programming in pair programming fashion.
                    <br/>
                    Each lesson is designed especially for you !
                    <br/>
                    <br/>
                    WE'RE COMING SOON
                </h2>
            </div>
        </section>
        <section>
            <h3 th:if="${account}" th:inline="text">Hello, [[${account.fullName}]]!</h3>
            <h3 th:unless="${account}">Who are you?</h3>
        </section>

        <section id="teachers" class="main-section">
            <div class="row">
                <div class="col s12">
                    <h2 class="section-header color-blue">Our Teachers</h2>
                </div>
                <div class="col s12 m6">
                    <div class="card-wrapper">
                        <div class="card-header-img">
                            <a href="https://pl.linkedin.com/in/bartłomiej-potaczek-27a9886b">
                                <img src="assets/teachers/teacher_1.jpg" alt="teacher profile image"/>
                            </a>
                        </div>
                        <div class="card-header">
                            <p>Bartłomiej Potaczek</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card-wrapper">
                        <div class="card-header-img">
                            <a href="https://pl.linkedin.com/in/tomaszlelek">
                                <img src="assets/teachers/teacher_2.jpg" alt="teacher profile image"/>
                            </a>
                        </div>
                        <div class="card-header">
                            <p>Tomasz Lelek</p>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/adaptivePayment" data-paypal-button="true">
                <img src="//www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" alt="Pay Now" />
            </a>
            <button type="button" onclick="facebookLogin()">Facebook login</button>

        </section>
    </div>
    <div class="main-modal-window">
        <div class="main-form-wrapper">
            <form id="create-account-form" method="post" role="form" class="main-form" th:action="@{/register}">

                <div form-group="true" class="main-input-wrapper">
                    <input class="main-input" name="username" type="text" required="required" value=""/>
                    <label class="main-label">User name</label>
                    <div class="main-input-bg"></div>
                </div>

                <div form-group="true" class="main-input-wrapper">
                    <input class="main-input" name="usersurname" type="text" required="required" value=""/>
                    <label class="main-label">User surname</label>
                    <div class="main-input-bg"></div>
                </div>

                <div form-group="true" class="main-input-wrapper">
                    <input class="main-input" name="email" type="email" required="required" value=""/>
                    <label class="main-label">zzz@gmail.com</label>
                    <div class="main-input-bg"></div>
                </div>

                <div form-group="true" class="main-input-wrapper">
                    <input class="main-input" name="password" type="password" required="required" value=""/>
                    <label class="main-label">Password</label>
                    <div class="main-input-bg"></div>
                </div>

                <button type="submit" class="main-btn btn-primary">create account</button>

            </form>
        </div>
        <div class="main-form-wrapper">
            <form id="sign-in-form" method="post" role="form" class="main-form" th:action="@{/login}">
                <div form-group="true" class="main-input-wrapper">
                    <input class="main-input" name="login" type="text" placeholder="Username or Email" autofocus="autofocus" required="required" value=""/>
                    <label class="main-label">zzz@gmail.com</label>
                    <div class="main-input-bg"></div>
                </div>

                <div form-group="true" class="main-input-wrapper">
                    <input class="main-input" name="password" type="password" placeholder="Password" required="required" value="" />
                    <label class="main-label">Password</label>
                    <div class="main-input-bg"></div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <button type="submit" class="main-btn btn-primary">login</button>

            </form>
        </div>
    </div>
    <div class="main-outside-area sticky pos-top pos-left"></div>
    <footer class="main-footer">

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="assets/js/main.min.js"></script>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-71037441-1");
            pageTracker._trackPageview();
        } catch (err) {
        }
    </script>
    <script>
        function facebookLogin() {
            var FB = window.FB;
            var scopes = 'email,user_likes,public_profile';

            FB.login(function(response) {
                if (response.status === 'connected') {
                    console.log('The user has logged in!');
                    FB.api('/me', function(response) {
                        console.log('Good to see you, ' + response.name + '.');
                    });
                }
            }, {scope: scopes});
        }

        window.fbAsyncInit = function() {
            FB.init({
                appId      : '492970127541627',
                xfbml      : true,
                version    : 'v2.5'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</body>
</html>
