<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Individual IT Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>in<span>IT</span>Learn</h1>
      <h2 class="font-light">We are learning programming in pair programming fashion. <br>
              Each lesson is designed especially for you !</h2>
      <h2>WE'RE COMING SOON</h2>
      <h3 class="font-light">Contact: </h3>
      <a href="https://pl.linkedin.com/in/tomaszlelek" target="_blank" class="button font-light">Tomasz Lelek</a>
      <a href="https://pl.linkedin.com/in/bartłomiej-potaczek-27a9886b" target="_blank" class="button font-light">Bartłomiej Potaczek</a>
    </div>
  
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-71037441-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>


  </body>
</html>
