<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Individual IT Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,900italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900italic' rel='stylesheet' type='text/css'>
    <link type="text/css" href="assets/css/main.min.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav sticky pos-top pos-left">
            <h1 class="main-logo">inITLearn</h1>
            <div class="main-nav-icon js-main-nav-menu-open">
                <div class="main-nav-icon-line line-1"></div>
                <div class="main-nav-icon-line line-2"></div>
                <div class="main-nav-icon-line line-3"></div>
                <div class="main-nav-icon-area sticky pos-left pos-top"></div>
            </div>
            <ul class="main-nav-list sticky pos-top pos-left">
                <li class="main-nav-list-item"><a href="#teachers">teachers</a></li>
                <li class="main-nav-list-item"><a href="#pricing">pricing</a></li>
                <li class="main-nav-list-item"><a href="#create-account" class="is-active">create free account</a></li>
                <li class="main-nav-list-item"><a href="#sign-in">sign in</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-container container">
        <section id="about-us" class="main-section">
            <iframe class="main-video" width="100%" height="560px" src="https://www.youtube.com/embed/cSTEB8cdQwo" frameborder="0" allowfullscreen></iframe>
            <div class="overlay-content">
                <h2 class="section-header bg-gold color-white">We are learning programming in pair programming fashion.
                    <br>
                    Each lesson is designed especially for you !
                    <br>
                    <br>
                    WE'RE COMING SOON
                </h2>
            </div>
        </section>

        <section id="teachers" class="main-section">
            <div class="row">
                <div class="col s12">
                    <h2 class="section-header color-blue">Our Teachers</h2>
                </div>
                <div class="col s12 m6">
                    <div class="card-wrapper">
                        <div class="card-header-img">
                            <a href="https://pl.linkedin.com/in/bartłomiej-potaczek-27a9886b">
                                <img src="assets/img/teachers/teacher_1.jpg" alt="teacher profile image"/>
                            </a>
                        </div>
                        <div class="card-header">
                            <p>Bartłomiej Potaczek</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card-wrapper">
                        <div class="card-header-img">
                            <a href="https://pl.linkedin.com/in/tomaszlelek">
                                <img src="assets/img/teachers/teacher_2.jpg" alt="teacher profile image"/>
                            </a>
                        </div>
                        <div class="card-header">
                            <p>Tomasz Lelek</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">

    </footer>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="assets/js/main.min.js"></script>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-71037441-1");
            pageTracker._trackPageview();
        } catch (err) {
        }
    </script>


</body>
</html>
