@import "variables";
@import "functions";

.main-container {
	margin-top: 80px;
}

#about-us {
  height: 560px;

  .overlay-content {
    padding: 20% 10%;
  }

  h2 {
    padding: rem-calc(10px);
  }
}

.main-video {
  position: absolute;
  left: 0;
  z-index: -1;
}

.overlay-content {
  position: relative;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 250%;
    height: 100%;
    background-color: $color-gold;
    opacity: .3;
    z-index: -1;
  }
}

.section-header {
  text-align: center;
}

.card-wrapper {
  position: relative;
  box-shadow: $box-shadow;
  padding: rem-calc(50px) rem-calc(10px) rem-calc(10px) rem-calc(10px);
  margin-top: rem-calc(60px);
}

.card-header {
  text-align: center;
}

.card-header-img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}