.main-btn {
  display: block;
  text-decoration: none;
  padding: 0.625rem;
  border-radius: 2px;
  border: 2px solid transparent;
  text-transform: uppercase;
  transition: color .3s ease, background-color .3s ease;
  font-weight: bold;
  margin: auto; }

.btn-primary {
  background-color: #fff;
  border: 2px solid #009ec3;
  color: #009ec3; }

.btn-primary:hover {
  background-color: #009ec3;
  color: #fff; }
