.main-section-calendar {
  color: #696969;
  font-size: 0.875rem;
  padding-top: 0.625rem; }

.main-calendar-months, .main-calendar-days {
  position: relative;
  margin: 1%;
  background-color: #fff;
  display: inline-block;
  border-top: 4px solid transparent; }

.main-calendar-months a, .main-calendar-days a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem;
  color: #696969; }

.main-calendar-months:hover, .main-calendar-days:hover {
  border-top: 4px solid #65c3df; }

.main-calendar-months {
  width: 30%;
  height: 100px; }

.main-calendar-month-reservation, .main-calendar-day-reservation {
  width: 10px;
  height: 10px;
  background-color: red;
  display: block;
  border-radius: 10px; }

.main-calendar-days {
  width: 20%;
  margin: 1%;
  height: 80px; }

.main-calendar-day-hours, .main-calendar-day-appointment-slots {
  float: left;
  border-top: 1px solid #bbb; }

.main-calendar-day-hours {
  width: 10%;
  max-width: 50px;
  text-align: center;
  background-color: #fff; }

.main-calendar-day-appointment-slots {
  width: 90%;
  max-width: 645px;
  background-color: #fff; }

.main-calendar-day-hour, .main-calendar-day-appointment-slot {
  height: 50px;
  border: 1px solid #bbb;
  border-top: none; }

.main-calendar-day-appointment-slot-hour {
  position: relative;
  width: 100%;
  height: 50%;
  float: left; }

.main-calendar-day-appointment-slot-hour:first-child {
  border-bottom: 1px dashed #bbb; }

.main-calendar-day-appointment-slot-hour:hover:after, .main-calendar-day-appointment-slot-hour.is-active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background-color: #65c3df;
  opacity: .7;
  border: 2px solid #1bbc9c; }
