.main-section-calendar {
  color: #696969;
  font-size: 0.875rem;
  padding-top: 0.625rem; }

.main-calendar-months, .main-calendar-days {
  position: relative;
  margin: 1%;
  background-color: #fff;
  display: inline-block;
  border-top: 4px solid transparent; }

.main-calendar-months a, .main-calendar-days a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem;
  color: #696969; }

.main-calendar-months span, .main-calendar-days span {
  float: left; }

.main-calendar-months:hover, .main-calendar-days:hover {
  border-top: 4px solid #e91e63; }

.main-calendar-months {
  width: 30%;
  height: 100px; }

.main-calendar-month-reservation, .main-calendar-day-reservation {
  width: 10px;
  height: 10px;
  background-color: #e91e63;
  display: block;
  border-radius: 10px;
  margin: 4px 2px; }

.main-calendar-days {
  width: 20%;
  margin: 1%;
  height: 80px; }

.main-calendar-day {
  overflow: hidden;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.main-calendar-day-hours, .main-calendar-day-slots {
  float: left;
  border-top: 1px solid #e8e8e8; }

.main-calendar-day-hours {
  width: 10%;
  text-align: center;
  background-color: #fff; }

.main-calendar-day-slots {
  width: 90%;
  background-color: #fff; }

.main-calendar-day-hour, .main-calendar-day-slot {
  position: relative;
  height: 50px;
  border: 1px solid #e8e8e8;
  border-top: none; }

.main-calendar-day-hour {
  border-right: none; }

.main-calendar-day-slot-hour {
  position: relative;
  width: 100%;
  height: 50%;
  float: left;
  color: #fff; }

.main-calendar-day-slot-hour:first-child {
  border-bottom: 1px dashed #e8e8e8; }

.main-calendar-day-slot-hour i {
  display: none;
  position: relative;
  padding: 0.625rem;
  text-align: center;
  font-size: 1.25rem;
  z-index: 1; }

.main-calendar-day-slot-hour:hover:after, .main-calendar-day-slot-hour.is-active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background-color: #e91e63;
  opacity: .7; }

.main-calendar-day-slot-hour:hover i, .main-calendar-day-slot-hour.is-active i {
  display: block; }

.main-calendar-day-slot-hour:hover .main-calendar-day-slot-hour-booking-class, .main-calendar-day-slot-hour.is-active .main-calendar-day-slot-hour-booking-class {
  display: block; }

.main-calendar-day-slot-hour-booking-class {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.9375rem;
  z-index: 1; }

.main-calendar-day-slot-hour-reservation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e91e63;
  text-align: center;
  padding: 0.9375rem;
  color: #fff; }

.main-calendar-day-slot-hour-reservation.half-hour {
  top: 50%; }
