html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-family: 'Source Sans Pro', sans-serif; }

body {
  background-color: #e8e8e8; }

*, *:before, *:after {
  box-sizing: inherit; }

li {
  position: relative;
  list-style-type: none; }

.sticky {
  position: fixed; }

.sticky.pos-top {
  top: 0; }

.sticky.pos-left {
  left: 0; }

.color-white {
  color: #fff; }

.color-blue {
  color: #009ec3; }

.bg-gold {
  background-color: #f79f00; }
