*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", sans-serif; }

body {
  background-color: #e8e8e8;
  font-family: "Source Sans Pro", sans-serif; }

.fw-100 {
  font-weight: 100; }

.fw-700 {
  font-weight: 700; }

li {
  position: relative;
  list-style-type: none; }

.sticky {
  position: fixed; }

.sticky.pos-top {
  top: 0; }

.sticky.pos-left {
  left: 0; }

.color-white {
  color: #fff; }

.color-blue {
  color: #009ec3; }

.color-purple {
  color: #83639c; }

.bg-gold {
  background-color: #f79f00; }

.bg-white {
  background-color: #fff; }
