@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0#iefix") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-sign-in:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-users:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-search:before {
  content: ""; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", sans-serif; }

body {
  background-color: #e8e8e8;
  font-family: "Source Sans Pro", sans-serif; }

.fw-100 {
  font-weight: 100; }

.fw-700 {
  font-weight: 700; }

.txt-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

.txt-center {
  text-align: center; }

li {
  position: relative;
  list-style-type: none; }

a {
  text-decoration: none; }

.sticky {
  position: fixed; }

.sticky.pos-top {
  top: 0; }

.sticky.pos-left {
  left: 0; }

.color-white {
  color: #fff; }

.color-blue {
  color: #65c3df; }

.color-purple {
  color: #83639c; }

.bg-gold {
  background-color: #f79f00; }

.bg-white {
  background-color: #fff; }

.main-loader {
  overflow: hidden; }

.main-loader i {
  display: block;
  padding: 50px;
  text-align: center;
  color: #65c3df;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

.main-loader-inline-item-1 {
  -webkit-animation: spin-inline 2s linear infinite;
  -moz-animation: spin-inline 2s linear infinite;
  -ms-animation: spin-inline 2s linear infinite;
  -o-animation: spin-inline 2s linear infinite;
  animation: spin-inline 2s linear infinite; }

.main-loader-inline-item-2 {
  -webkit-animation: spin-inline 2s linear 0.2s infinite;
  -moz-animation: spin-inline 2s linear 0.2s infinite;
  -ms-animation: spin-inline 2s linear 0.2s infinite;
  -o-animation: spin-inline 2s linear 0.2s infinite;
  animation: spin-inline 2s linear 0.2s infinite; }

.main-loader-inline-item-3 {
  -webkit-animation: spin-inline 2s linear 0.4s infinite;
  -moz-animation: spin-inline 2s linear 0.4s infinite;
  -ms-animation: spin-inline 2s linear 0.4s infinite;
  -o-animation: spin-inline 2s linear 0.4s infinite;
  animation: spin-inline 2s linear 0.4s infinite; }

@-webkit-keyframes spin-inline {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@-moz-keyframes spin-inline {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes spin-inline {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg); } }

@-moz-keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }
