.main-header {
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 10; }

.main-logo {
  display: inline;
  color: #fff; }

.main-nav {
  padding: 1.5rem 1.25rem;
  background: #4dbdeb;
  background: -moz-linear-gradient(-45deg, #4dbdeb 0%, #009ec3 100%);
  background: -webkit-linear-gradient(-45deg, #4dbdeb 0%, #009ec3 100%);
  background: linear-gradient(135deg, #4dbdeb 0%, #009ec3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dbdeb', endColorstr='#009ec3', GradientType=1);
  font-size: 1rem;
  width: 100%;
  height: 80px; }

.main-nav.is-open .main-nav-list {
  left: 0; }

.main-nav.is-open .main-nav-icon-area {
  display: block; }

.main-nav-list {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
  transition: left .3s ease; }

.main-nav-list.pos-left {
  left: -100%; }

.main-nav-list-item {
  display: inline-block;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid #e8e8e8; }

.main-nav-list-item a {
  display: block;
  padding: 1.75rem;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid transparent;
  border-radius: 2px;
  color: #000; }

.main-nav-list-item a:hover {
  color: #f79f00; }

.main-nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  padding: 20px; }

.main-nav-icon-line {
  width: 30px;
  margin: 5px auto;
  height: 5px;
  border-radius: 2px;
  background-color: #fff; }

.main-nav-icon-area {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

@media only screen and (min-width: 601px) {
  .main-nav-icon {
    display: none; }
  .main-nav-list {
    position: relative;
    background-color: transparent;
    width: 400px;
    height: auto;
    float: right; }
  .main-nav-list.pos-left {
    left: initial; }
  .main-nav-list-item {
    width: auto;
    border-bottom: none;
    cursor: pointer; }
  .main-nav-list-item a {
    transition: background-color .3s ease, color .3s ease, border .3s ease;
    padding: 0.3125rem;
    color: #fff; }
  .main-nav-list-item a:hover, .main-nav-list-item a.is-active {
    border: 2px solid #ffee9c;
    color: #ffee9c; }
  .main-nav-list-item a.is-active:hover {
    border: 2px solid #f79f00;
    background-color: #f79f00;
    color: #fff; } }
