@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0#iefix") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-sign-in:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-users:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.main-messenger {
  width: 100%;
  min-height: 400px;
  color: #9ea7b3;
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3); }

.main-messenger ul {
  margin: 0;
  padding: 0; }

.main-messenger-header {
  text-align: center;
  padding: 0.9375rem; }

.main-messenger-message-thread-list-wrapper {
  float: left;
  width: 30%; }

.main-messenger-messages-wrapper {
  float: left;
  width: 70%;
  background-color: #fff; }

.main-messenger-messages-list-item {
  margin: 0.625rem;
  overflow: hidden; }

.main-messenger-messages-list-item span {
  padding: 0.3125rem;
  border-radius: 20px;
  float: right;
  background-color: #65c3df;
  color: #fff; }

.main-messenger-messages-list-item.email-to span {
  float: left;
  background-color: #f5f5f5;
  color: #000; }

.main-messenger-text-input-wrapper {
  background-color: #f5f5f5;
  overflow: hidden; }

.main-messenger-text-input {
  float: left; }
