.main-section-messages {
  padding: 0; }

.main-messenger {
  width: 100%;
  height: 480px;
  color: #9ea7b3;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3); }

.main-messenger ul {
  margin: 0;
  height: 100%;
  overflow-y: scroll; }

.main-messenger-header {
  text-align: center;
  padding: 0.9375rem; }

.main-messenger-message-thread-list-wrapper, .main-messenger-messages-wrapper {
  position: absolute;
  top: 50px;
  height: 430px; }

.main-messenger-message-thread-list-wrapper {
  width: 30%;
  border-right: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5; }

.main-messenger-messages-wrapper {
  left: 30%;
  width: 70%;
  background-color: #fff; }

.main-messenger-messages-list {
  padding: 10px 10px 50px; }

.main-messenger-messages-list-item {
  margin: 0.625rem;
  overflow: hidden; }

.main-messenger-messages-list-item span {
  padding: 0.3125rem;
  border-radius: 2px;
  float: right;
  background-color: #2196f3;
  color: #fff; }

.main-messenger-messages-list-item.email-to span {
  float: left;
  background-color: #f5f5f5;
  color: #000; }

.main-messenger-text-input-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid #f5f5f5; }

.main-messenger-text-input {
  float: left; }
