.main-nav-messages .main-message-thread-list {
  display: none;
  position: absolute;
  top: 33px;
  width: 100%;
  padding: 0.625rem;
  background-color: #fff;
  color: #000; }

.main-nav-messages .main-message-thread-list .main-loader {
  padding: 0.625rem; }
