@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0#iefix") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-sign-in:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-users:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.main-tooltip .main-message-thread-list {
  max-height: 180px;
  overflow-y: scroll; }

.main-tooltip .main-message-thread-list-item:hover {
  background-color: #e8e8e8; }

.main-message-thread-list {
  margin: 0;
  padding: 0; }

.main-message-thread-list-item {
  display: block;
  padding: 0.625rem;
  text-align: center;
  color: #9ea7b3;
  transition: background-color .3s ease;
  text-shadow: none; }

.main-message-thread-list-item:hover {
  background-color: #fff; }

.main-message-thread-list-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9ea7b3; }

.main-message-thread-list-item-email {
  display: block;
  color: #000; }

.main-message-thread-list-item-last-message {
  font-size: 0.75rem; }
