.main-modal-window {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11; }

.main-modal-header {
  position: relative;
  color: #fff; }

.main-modal-header:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  z-index: -1; }

.main-modal-header * {
  margin-top: 0; }

.main-modal-window-content {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 320px;
  width: 80%;
  max-width: 600px;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0.625rem;
  overflow: hidden;
  z-index: 1; }

.main-modal-window-close {
  width: 100%;
  height: 100%; }

.main-modal-transition-enter {
  opacity: .1; }

.main-modal-transition-enter.main-modal-transition-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in; }

.main-modal-transition-leave {
  opacity: 1; }

.main-modal-transition-leave.main-modal-transition-leave-active {
  opacity: .1;
  transition: opacity .3s ease-in; }

.main-modal-message-notification.success .main-modal-message-notification-icon.success {
  display: block; }

.main-modal-message-notification.success .main-modal-message-notification-content {
  color: #4caf50; }

.main-modal-message-notification.cancel .main-modal-message-notification-icon.cancel {
  display: block; }

.main-modal-message-notification.cancel .main-modal-message-notification-content {
  color: #e57e6f; }

.main-modal-message-notification.warning .main-modal-message-notification-icon.warning {
  display: block; }

.main-modal-message-notification.warning .main-modal-message-notification-content {
  color: #ff9800; }

.main-modal-message-notification-icon {
  display: none;
  font-size: 4.375rem;
  text-align: center; }

.main-modal-message-notification-icon.success {
  color: #4caf50; }

.main-modal-message-notification-icon.cancel {
  color: #e57e6f; }

.main-modal-message-notification-icon.warning {
  color: #ff9800; }

.main-modal-message-notification-content {
  text-align: center; }

.main-modal-reservation .main-modal-message-notification-icon.warning {
  display: block; }

.main-modal-reservation-items {
  border-bottom: 1px solid #e8e8e8; }

.main-modal-reservation-items:last-child {
  border-bottom: none;
  margin-bottom: 0; }

.main-modal-reservation-item {
  padding: 0.3125rem; }

.main-modal-reservation-item i {
  margin-right: 5px;
  color: #2196f3; }

.main-modal-reservation-subject {
  width: 100%;
  outline: 0;
  border: none; }

.main-modal-payment-item {
  padding: 1.25rem; }
