.main-section-schedule {
  padding-top: 0.3125rem; }

.main-schedule-appointment-header {
  text-align: center; }

.main-schedule-appointment {
  position: relative;
  margin: 0.625rem 0;
  overflow: hidden; }

.main-schedule-appointment:before {
  content: '';
  position: absolute;
  top: 0;
  left: 25%;
  width: 75%;
  height: 100%;
  background-color: #fff;
  z-index: -1; }

.main-schedule-appointment-content, .main-schedule-appointment-date {
  float: left;
  background-color: #fff;
  padding: 0.9375rem 0.625rem 0.625rem; }

.main-schedule-appointment-content {
  width: 75%;
  margin-left: 5%; }

.main-schedule-appointment-date {
  position: relative;
  width: 20%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 0.875rem; }

.main-schedule-appointment-date:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #e57e6f; }

.main-schedule-appointment-date-day {
  font-size: 1.875rem; }

.main-schedule-appointment-content-date-hour {
  position: absolute;
  top: 10px;
  right: 5px; }

.main-schedule-appointment-content-date-hour i {
  margin-right: 0.3125rem; }

.main-schedule-appointment-content-cancel {
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.625rem;
  background: #e57e6f;
  color: #fff;
  cursor: pointer; }

@media only screen and (min-width: 601px) {
  .main-schedule-appointment-date-day {
    font-size: 2.5rem; } }
