.main-section-schedule {
  padding-top: 0.3125rem;
  font-size: 0.875rem; }

.main-schedule-tabs {
  margin-top: 0.625rem;
  margin-right: 0.75rem;
  width: 100%;
  max-width: 300px;
  float: right; }

.main-schedule-tabs-item {
  position: relative;
  display: inline-block;
  width: 48%;
  padding: 0.3125rem;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 1%;
  transition: background .5s ease, color .5s ease; }

.main-schedule-tabs-item:hover, .main-schedule-tabs-item.is-active {
  background-color: #4caf50;
  color: #fff; }

.main-schedule-item {
  position: relative;
  padding: 0.3125rem; }

.main-schedule-item:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 25%;
  width: 75%;
  height: calc(100% - 10px);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.main-schedule-item-content, .main-schedule-item-date {
  float: left;
  background-color: #fff;
  padding: 0.9375rem 0.625rem 0.625rem; }

.main-schedule-item-content {
  position: relative;
  width: 75%;
  margin-left: 5%; }

.main-schedule-item-date {
  position: relative;
  width: 20%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 0.875rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.main-schedule-item-date:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #4caf50; }

.main-schedule-item-date-day {
  font-size: 1.875rem; }

.main-schedule-item-date-time i {
  margin-right: 0.3125rem; }

.main-schedule-item-cancel {
  font-size: 1.25rem;
  position: absolute;
  top: 5px;
  right: 0;
  padding: 0 0.625rem;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #4caf50; }

@media only screen and (min-width: 601px) {
  .main-schedule-item-date-day {
    font-size: 2.5rem; }
  .main-schedule-item-date-time {
    position: absolute;
    top: 10px;
    right: 5px; } }
