.main-section-teachers .main-user-profile-more-info-btn {
  position: absolute;
  bottom: 5px;
  z-index: 1;
  left: 0;
  right: 0;
  width: 125px;
  padding: 0.3125rem; }

.main-section-teachers .main-user-profile-nav-profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }
